<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../Content/css/styles.css">
    <meta charset="utf-8">
    <title>AddressBook</title>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Address Book</h1>
      </div>
      @if (@Model.Count != 0)
      {
        @foreach(var contact in Model)
        {
          @{ var contactAddress = @contact.GetAddress(); }

          <h4>@contact.GetFirstName() @contact.GetLastName()</h4>
          <p>
            <span class="contact-label">Phone Number:</span><br>
            @contact.GetPhoneNumber()<br>
          </p>
          <p>
            <span class="contact-label">Address:</span><br>
            @contactAddress.GetStreetAddress()<br>
            @contactAddress.GetCity()<br>
            @contactAddress.GetState()<br>
            @contactAddress.GetZipCode()
          </p>
          <br>
        }
        <form action="/" method="post">
          <button class="btn btn-danger btn-xs" type="submit" name="clear">Clear Contacts</button>
        </form>
      }
      else
      {
        <p>You have no contacts to display. Please click the link at the bottom of the page to add a contact.</p>
      }

      <div class="bottom-line">
      </div>
      <p><a href="/">Home</a> || <a href="/contacts/new">Add Contact</a> || <a href="/contacts/all">All Contacts</a> || <a href="/contacts/search">Search</a></p>
    </div>
  </body>
</html>
