<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../Content/css/styles.css">
    <meta charset="utf-8">
    <title>AddressBook</title>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Address Book</h1>
      </div>
      <h4>@Model.GetFirstName() @Model.GetLastName()</h4>
      <p>
        <span class="contact-label">Phone Number:</span><br>
        @Model.GetPhoneNumber()<br>
      </p>
      <p>
        <span class="contact-label">Address:</span><br>
        @{ var contactAddress = @Model.GetAddress(); }
        @contactAddress.GetStreetAddress()<br>
        @contactAddress.GetCity()<br>
        @contactAddress.GetState()<br>
        @contactAddress.GetZipCode()
      </p>
      <form action="/contacts/deleted" method="post">
        <input type="hidden" name="delete" value="@Model.GetId()">
        <button class="btn btn-danger btn-xs" type="submit">Delete Contact</button>
      </form>
      <div class="bottom-line">
      </div>
      <p><a href="/">Home</a> <a href="/contacts/new">Add Contact</a> <a href="/contacts/all">All Contacts</a></p>
    </div>
  </body>
</html>
